name = "buape-go"
main = "build/index.js"
compatibility_date = "2025-01-19"

kv_namespaces = [
    { binding = "SHORT_LINKS", id = "ID_HERE" }
]

[build]
command = "cargo install -q worker-build && worker-build --release"

[vars]
ACCESS_KEY = "ACCESS_KEY_HERE"

[observability]
enabled = true
head_sampling_rate = 1

[[rules]]
globs = ["**/*.wasm"]
type = "CompiledWasm"